@{
    Layout = null;
}
@model IEnumerable<NEXUS.Models.DialUpConnection>

@{
    ViewData["Title"] = "DialUpConnections";
}

<h1>DialUpConnections</h1>

<p>
    @* <a asp-action="Create">Create New</a> *@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PakageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rates)
            </th>
            @* <th></th> *@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PakageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rates)
            </td>
       @*      <td>
                <a asp-action="Edit" asp-route-id="@item.ConnectionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ConnectionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ConnectionId">Delete</a>
            </td> *@
        </tr>
}
    </tbody>
</table>
